  .box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
  }
  
  form {
      height: 250px;
      width: 350px;
  }
  
  .list {
      /* display: inline-block; */
      width: 300px;
      height: auto;
      background-color: rgb(180, 156, 180);
      white-space: pre-wrap;
  }
